/* PrimeReact Imports - theme is loaded via link tag in index.html for dynamic switching */
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

/* Reset and Base Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
